<div class="col-md-8 col-lg-offset-2">
  <%= render "search_bar" %>
  <br>
  <div class="item_div">
      <table class="table table-borderd">
        <% @q.each do |question| %>
          <tr>
            <td width="80%">
            <%= link_to(render_highlight_content(question,@query_string),question_path(question)) %> -
            <%= question.description %>
            </td>
            <td> <%= question.created_at.to_s(:short) %> </td>
          </tr>
        <% end %>
      </table>
    <div class="text-center">
      <%= will_paginate @q %>
    </div>
  </div>
</div>
